
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("List", "Books")" class="btn btn-warning"><span class="glyphicon glyphicon glyphicon-hand-left" aria-hidden="true"></span> Powrót</a>
<h2>Detale książki</h2>

