@model LibraryMVC.Controllers.UserViewModel
@{
    ViewData["Title"] = "Books to return";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>User hasn't returned borrowed books, so their account cannot be deactivated.</p><p>Please return the following books:</p>

<p>
    @foreach (var book in Model.BorrowedBooks)
    {
        @book.Name<br />
    }
</p>