@model LibraryMVC.Domain.Entities.User
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit user</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="FirstName" class="control-label">Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="LastName" class="control-label">Surname</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">

                @if (Model.Status == LibraryMVC.Domain.Entities.Status.Active)
                {
                    <label asp-for="Status" class="control-label">Status: Inactive</label>
                    <input type="checkbox" name="status" value="Inactive" />
                }
                @if (Model.Status != LibraryMVC.Domain.Entities.Status.Active)
                {
                    <label asp-for="Status" class="control-label">Status: Active</label>
                    <input type="checkbox" name="status" value="Active" />
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-default" />
                <a href="@Url.Action("List", "Users")" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </div>
}