@model LibraryMVC.Controllers.UserViewModel

@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<dt>
    Name:
</dt>
<dd>
    @Html.DisplayFor(model => model.User.FirstName)
</dd>
<dt>
    Surname:
</dt>
<dd>
    @Html.DisplayFor(model => model.User.LastName)
</dd>
<dt>
    Status:
</dt>
<dd>
    @if (Model.User.Status == LibraryMVC.Domain.Entities.Status.Active)
    {
        <p>Active</p>
    }
    @if (Model.User.Status == LibraryMVC.Domain.Entities.Status.Inactive)
    {
        <p>Inactive</p>
    }
</dd>
<dt>
    Currently borrowed books:
</dt>
<dd>
    @foreach(var book in Model.BorrowedBooks)
    {
    @book.Name<br/>
    }
</dd>

<div>
    @Html.ActionLink("Wróć", "List", "Users")
</div>
